@model ChatDetailViewModel

<div class="profile-image chat-sender-image-2px bg-warning text-dark" role="button" data-bs-toggle="modal" data-bs-target="#chatDetailModal">
    @Model.Name[..2].ToUpper()
</div>
<div class="ms-2">
    <div class="fw-bold chat-name">@Model.Name</div>
    <div class="text-muted small">Online</div>
</div>
